h1 {
    font-size: 10rem;
    letter-spacing: 1px;
    font-weight: bold;

    background: url('/red\ dark.jpg');
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 10s none infinite;
    text-align: center;

}

body {
    display: grid;
    place-items: center;
    font-family: 'Oswald', sans-serif;
    background-image: url(/wp9429748-batman-2022-wallpapers.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

@keyframes text {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 10% 100%;
    }
}